@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: verdana, geneva, tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive; 
}

body{
    background-color: black;
}

main{
    background-color: white;
    font-size: 1.7em;
    border: 1px solid;
}

header{
    height: 200px;
    color: white;
    background-color: black; 
    text-align: center;
    font-size: 2em;
}  

h1{
    font-family: var(--fonte2);
}

main > p{
    width: 300px;
    padding: 30px;
    margin: 80px;
    font-family: var(--fonte3);
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: var(--fonte1);
}

a:hover {
    text-decoration: underline;
}

p#caixa{
    background-color: hsla(0, 0%, 0%, 0.144);
    border: 1px solid rgba(0, 0, 0, 0.144);
    color: white;
    width: 300px;
    padding: 30px;
    margin: 80px;
    font-family: var(--fonte3);
}

#flor{
    background: url('imagens/background001.jpg') center right no-repeat fixed; 
    padding: 10px;
    background-size: cover;
}

#livro{
    background: url('imagens/background002.jpg') center right no-repeat fixed;
    padding: 10px;
    background-size: cover;
}

footer > p {
    color: white;
    text-align: center;
    font-size: large;
} 